*.py[co]
*~
doc/build/*
dist
build
cover
.coverage
*.egg
*.egg-info
.stestr
.testrepository
.tox
AUTHORS
ChangeLog
MANIFEST
monasca.log

.vagrant
*.log
*.swp
*.iml
.DS_Store
.cache
.classpath
.idea
.project
.target/
java/debs/*
.settings/
target
test-output/
logs/
log/
*config*.yml
db/config.yml
.coverage.*
*.sample
.venv
